<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/Layout-admin.html}" lang="en">

<section class="row" layout:fragment="content">
    <div class="col-6 offset-3 mt-4">
        <form th:action="@{/admin/categories/saveOrUpdate}" method="POST" th:object="${category}" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${category.id != null} ? 'Edit Category' : 'Add New Category'">Add New Category</h2>
                </div>

                <div class="card-body">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="mb-3">
                        <label for="name" class="form-label">Category Name:</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" name="name"
                               placeholder="Category Name"/>
                        <div th:if="${#fields.hasErrors('name')}" class="form-text text-muted">
                            <span class="text-danger">Category Name is required!</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">Category Image:</label>
                        <input type="file" class="form-control" id="file" name="file"/>
                        <div th:if="${category.image != null}">
                            <img th:src="@{${category.image}}" style="max-width:150px; max-height:150px;" class="mt-2"/>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span th:text="${category.id != null} ? 'Update' : 'Save'">Save</span>
                    </button>
                    <a th:href="@{/admin/categories/list}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>

</html>
